{% extends "./base.html.twig" %}

{% block title %}
    Results page
{% endblock %}

{% block body %}

    {% for result in results %}
        <li> {{ raceName }} </li>
    {% endfor %}
    
{% endblock %}